/* BasketballApp.css */

.card-container {
  display: flex;
  width: 300px; /* Set the container width */
  height: 352px; /* Set the container height */
  padding: 5%;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content doesn't overflow */
}

.card {
  width: 100%;
  border-radius: 2%;
  transition: transform 0.5s ease; /* Add smooth transition */
  position: relative; /* Add position relative for dots placement */
}

.card img {
  width: 100%; /* Set the width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 1%; /* Optional: Add border-radius for a rounded look */
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
}
