
.food-card {
  padding: 2%;
  background-origin: padding-box;
  background-color: grey;
  border: black;
  border-radius: 20px;
  border-color: white;
  position: static;
  box-shadow: 0 0 10px rgba(165, 63, 63, 0.1);
}

.food-drop-box{
    width: 100%;
    border: #ccc;
    border-radius: 5px;;
  }
  
.food-checkbox{
    padding-top: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
  }
  
.table {
  color: white;
}

.btn{
    width: 100%;
    background-color: burlywood;
    border: #ccc;
  }
  
.sub-text{
    font-size: 11px;
  }