/* App.css */
.MainApp {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/81/fb/3f/81fb3fcc103ba6e49c7788a45e4ccdc8.jpg");
  background-size: cover;
  min-height: 100vh; /* Set minimum height to cover the entire viewport height */
  /* Other styles */
}
/* Style for centering the MusicApp */
.CenteredContent {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* To occupy the entire height of the parent */
}
